@model UMSTestJS.Models.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "Index - Student";
    Layout="~/Views/Shared/_Layout.cshtml";  
}

<div class="col-12">
    <div class="row">
        <div class="col-4">
            <h2 class="text-primary">Students List</h2>
        </div>
        <div align="right" class="col-8">
            <a data-toggle="modal" style="cursor: pointer;" data-target="#createStudentPageModal" class="btn btn-primary text-white form control"><i class="fas fa-plus"></i> &nbsp; Student</a>
        </div>
    </div>
    <br>
    @if(Model.Students.Count() > 0)
    {
        <table id="tbl" class="table table-hover bordered table-sm text-center">
            <thead class="table table-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td>@Html.DisplayFor(m => item.Department.Name)</td>
                    </tr>
                } 
            </tbody>
        </table>
    }
    else
    {
        <p>No Students</p>
    }
</div>

<partial name="_createStudentPartial" />





