@model UMSTestJS.Models.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_Layout.cshtml";  
}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>


<div class="col-md-12 col-sm-12 row">
    <div align="right" class="col-12">
        <a data-toggle="modal" style="cursor: pointer;" data-target="#addDepartmentPageModal" class="btn btn-primary text-white form control"><i class="fas fa-plus"></i> &nbsp; Department</a> &nbsp;
        <a data-toggle="modal" style="cursor: pointer;" id="registerStudent" data-target="#registerStudentPageModal" class="btn btn-primary text-white form control"><i class="fas fa-plus"></i> &nbsp; Student</a>
    </div>  
</div>
<br>
<div class="col-md-12 col-sm-12 row">
    <partial name="_studentsIndexPartial" model="@Model.Students" /> <br>
    <partial name="_departmentsIndexPartial" model="@Model.Departments" />
</div>

<partial name="_registerStudentModalPartial" />
<partial name="_addDepartmentModalPartial" model="@Model.Department" />

@section scripts{
    <script> 
    $("#registerStudent").click(function () {
            $(document).ready(function (){
                
                var url = '@Url.Action("DepartmentsListJsonReturn","Student")';
                var departmentOptions = $("#department");

                $.getJSON(url, { id: departmentOptions.val() }, function (data) {

                var options = '';
                departmentOptions.html('');

                $.each(data, function (i, department) {
                    options += "<option value='" + department.value + "'>" + department.text + "</option>";
                });
                departmentOptions.html(options);

            });
        });
    });
    </script>
}
